{% extends "CoreBundle::main-layout.html.twig" %}

{% block title %}Companies List{% endblock %}
{% block body %}
    <div id="content-wrapper">
        <div class="page-header">
            <div class="row">
                <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-th-list page-header-icon"></i>&nbsp;&nbsp;Companies List</h1>
                <div class="col-xs-12 col-sm-8"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">List</span>
                        <div class="panel-heading-controls">
                            <button class="btn btn-primary addCompany" id="{{path('company_new')}}"><span class="fa fa-plus-square"></span>&nbsp;&nbsp;Add Company</button>
                        </div> <!-- / .panel-heading-controls -->
                    </div> <!-- / .panel-heading -->

                    <div class="panel-body">
                        <div class="table-primary">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="jq-datatables-example">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Company</th>
                                        <th>Address</th>
                                        <th>email</th>
                                        <th>Office/Floor No</th>
                                        <th>Contact</th>
                                        <th>GST</th>
                                        <th>Electricity Per Unit</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for k, company in companies %}
                                        <tr id="{{path('company_show', {'id':company.id})}}" class="{% if k/2 == 0 %} 'even' {% else %} 'odd' {% endif %} gradeX">
                                            <td class="showCompany">{{loop.index}}</td>
                                            <td class="showCompany">{{company.companyName}}</td>
                                            <td class="showCompany">{{company.address}}</td>
                                            <td class="showCompany">{{company.email}}</td>
                                            <td class="showCompany center">{{company.officeNo~', '~company.floorNo}}</td>
                                            <td class="showCompany center">{{company.contactPerson~', '~company.mobile}}</td>
                                            <td class="showCompany center">{{company.gstNo}}</td>
                                            <td class="showCompany center">{{company.electricityPerUnit}}</td>
                                            <td class="center">
                                                <a href="{{path('company_edit', {'id' : company.id})}}">Edit</a> 
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- / #content-wrapper -->
{% endblock %}

{% block javascripts %}
    <script>
        $('.addCompany').on('click', function(){
            window.location.href = $(this).attr('id')
        })
        $('.showCompany').css('cursor', 'pointer')
        $('.showCompany').on('click', function(){
            window.location.href = $(this).parent('tr').attr('id')
        })
    </script>
{% endblock %}